.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table-header {
  background-color: #f8f9fa;
}

.cart-table-row {
  display: flex;
  border-bottom: 1px solid #dee2e6;
}

.cart-table-header-cell,
.cart-table-cell {
  flex: 1;
  padding: 8px;
  text-align: left;
}

.cart-table-header-cell {
  font-weight: bold;
}

.cart-table-cell {
  display: flex;
  align-items: center;
}

.cart-table-cell span.mx-2 {
  margin: 0 8px;
}
