.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  overflow: hidden;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.canteen-logo {
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.canteen-logo:hover {
  transform: scale(1.1);
}